{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row " >
            <div class="col-sm-12">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/slider/s1.jpg' %}" class="d-block w-100" alt="..." style="height:500px;">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/slider/s4.jpg' %}" class="d-block w-100" alt="..." style="height:500px;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slider/s3.avif' %}" class="d-block w-100" alt="..." style="height:500px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            </div>
        </div>
        <!--slider end-->
        <!--heading-->
         <h3 class="ms-5 text-light"><b class="bold ">Features</b> Category</h3>
        <i class="ms-5 text-light">dummy text write here</i>


        <!--start card-->
        <div class="row mt-3" >

            <div class="col-sm-12">
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-3 text-light ps-5">
                        <div class="card" style="width: 15rem;">
  <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">

  <div class="card-body">
    <h5 class="card-title text-dark">{{ product.name }}</h5>
     {% if product.id %}
  <a href="{% url 'detail' product.id %}" class="btn btn-primary">View more</a>
{% else %}
  <span class="text-danger">Invalid product</span>
{% endif %}


  </div>
</div>

                    </div>
                    {% empty %}
                    <p class="text-center">product not available</p>
                    {%  endfor %}

 {% endblock %}